.tabela-container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.img-tabela {
  width: 100%;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}
