.header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 12px;
}

.titulo {
  margin: 0;
  font-size: 20px;
}

.slogan {
  margin: 0;
  font-size: 12px;
  color: #ccc;
}

.menu a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
}

.menu a.ativo {
  font-weight: bold;
  text-decoration: underline;
}
