<header class="header">
  <div class="logo-area">
    <img src="assets/logo-csba.png" alt="Logo CSBA" class="logo" />
    <div>
      <h1 class="titulo">CS Brasil Amador</h1>
      <p class="slogan">Campeonatos e eventos amadores de CS2 no Brasil</p>
    </div>
  </div>

  <nav class="menu">
    <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Eventos</a>
    <a routerLink="/tabelas" routerLinkActive="ativo">Tabelas</a>
    <a routerLink="/ranking" routerLinkActive="ativo">Ranking</a>
  </nav>
</header>
